.scannerwork
*cloc-report*.json
*sbom-report*.json
*vulnerabilities-report*.json

**/Dockerfile.effective
!Dockerfile.effective
.version

*.code-workspace
!project.code-workspace

coverage.html
coverage.out
